.hotels {
  padding: 24px 15px 48px;

  text-align: center;
  text-transform: uppercase;
}

.hotels__title {
  font-size: 21px;
  line-height: 26px;
}

.hotels__text {
  margin-bottom: 34px;

  font-size: 14px;
  line-height: 21px;
  color: #333333;
}
