// В файле main должны быть стили только для блока main и для элементов main__
// Стилидля блока advantages и элементов advantages__ пишуться в файле advantages.scss

// .advantages__wrapper {
//   display: flex;
//   flex-direction: row;
// }

.welcome__bg {
  padding-top: 15%;
  padding-left: 20%;

  background-image: url("../img/welcome-bg.jpg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
}

.main {
  background-color: rgb(221, 255, 127);
}
// .advantages__container--specific {
//   background-color: #81b3d2;
// }
