// В файле main должны быть стили только для блока main и для элементов main__
// Стилидля блока advantages и элементов advantages__ пишуться в файле advantages.scss

// .advantages__wrapper {
//   display: flex;
//   flex-direction: row;
// }

// .advantages__container--specific {
//   background-color: #81b3d2;
// }
