*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;

  font-family: $font;
}

img {
  max-width: 100%;

  object-fit: cover;
  object-position: center;
}

// Данный класс не удаляет элемент, а скрывает его, это очень важный момент, свойства для это класса вам наверняка давали на вебинаре, и я вам скидывала в телеграмм
// Данный класс должен быть в файле utils.scss
// .visually-hidden {
//   display: none;
// }
